# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp

# Power BI temporary/lock files
~$*.pbix
